/.metadata/*
/CPPAnalyzer/.settings/*
/CPPAnalyzer/Debug/*
/CPPAnalyzerExe/Debug/*
/Debug/*
/ipch/*
/_UpgradeReport_Files/*

/UpgradeLog.xml

/build/*

*.suo
*.ncb
*.user
*.manifest
*.obj
*.idb
*.pdb
*.dep
*.ilk
*.pdb
*.sdf
*.opensdf