.object-explorer[inner]
{
	/*padding-left: 6px;*/
}

/* ==================================================
   Row
   ================================================== */

.object-explorer-row
{
	-moz-box-align: center;
}

.object-explorer-row[readOnly] > label
{
	color: #888;
}

/* ==================================================
   String
   ================================================== */

.object-explorer-row[readOnly] > textbox
{
	color: #888;
}

/* ==================================================
   Array
   ================================================== */
.objexp-prop-array-title
{
	-moz-box-align: center;
	background-color: -moz-dialog;
	color: #000;
}

.objexp-prop-array-content
{
	margin-left: 6px;
	border-top: 1px solid #000;
}

.objexp-prop-array-title > image
{
	padding-left: 4px;
	list-style-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}

.objexp-prop-array[open] > .objexp-prop-array-title
{
	font-weight: bold;
}

.objexp-prop-array[open] > .objexp-prop-array-title > image
{
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

