{

"description":"",

"includes": ["#include \"{$cpp_spidermonkey_lib_include_dir}wrap_helpers/boolean_x.hpp\""],
	
"templateCode":
"{$param_type} {$param_name} = {if $cast}($param_type){/if}jsval_to_boolean_x(args[{$param_index}]);"
}
